html {
  background: #b3b3b3;
  padding: 15px;
  border: 5px solid white;
  margin: 15px;
  height: 2000px;
  overflow: hidden;
}

body {
  background: #fa923f;
  padding: 20px;
  border: 5px solid black;
  margin: 0;
  /* 由于CSS的默认行为，如果把overflow:hidden声明到body元素上 */
  /* overflow: hidden只影响有滚动行为的元素，所以如果body本身内容不溢出，它看起来好像没变化 */
  overflow: hidden;
}

.parent {
  background: white;
  padding: 20px;
  border: 5px solid black;
  margin: 0;
  /* 一旦在父元素之外，将隐藏元素 */
  /* overflow: hidden; */

  position: relative;
  top: 200px;

}

.parent div {
  background: rgb(105, 105, 109);
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}

.parent .child-1 {
  /* 子绝父相 */
  /* position: relative;
  top: 300px;
  left: 50px; */

  /* 类似于将元素从文档流中取出，并将一般行为从块级元素更改为内联快元素 */
  /* 可以应用于块级元素和内联元素 */
  /* position: fixed; */
  /* 应用定位更改只有在不同于static的值时才可能（default值） */
  /* top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box; */
}
